/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  gap: 24px;
  row-gap: 47px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.gallery-image {
  width: 360px;
  height: 300px;
}

.feedback-form {
  border-radius: 8px;
  border: #4e75ff;
  padding: 24px;
  width: 408px;
  height: 296px;
  background-color: #fff;
  margin: 0 auto;
}

.label-form {
  display: block;
  margin-bottom: 10px;
}

.input-form,
.textarea-form {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

.button-form {
  padding: 5px 10px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  max-width: 95px;
}

.button-form:hover {
  background-color: #0056b3;
}
